*~
.cproject
.project
augeas.pc
augeas.spec
build/
gnulib/
stamp-h1
aclocal.m4
autom4te.cache/
Makefile.in
config.sub
config.log
config.guess
config.status
configure
depcomp
install-sh
ltmain.sh
missing
ChangeLog
.deps/
.libs/
*.l[oa]
*.[oa]
*.loT
TAGS
libtool
ylwrap
src/parser.[ch]
src/lexer.[ch]
src/augmatch
src/augtool
src/augparse
src/callgrind.*

